config/workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "triggers": {
    "Recurrence": {
      "recurrence": {
        "frequency": "Minute",
        "interval": 1,
        "timeZone": "GMT Standard Time",
        "startTime": "02:00"
      },
      "evaluatedRecurrence": {
        "frequency": "Minute",
        "interval": 1,
        "timeZone": "GMT Standard Time",
        "startTime": "02:00"
      },
      "type": "Recurrence"
    }
  },
  "actions": {
    "Azure Resource Graph Query": {
      "runAfter": {},
      "type": "Http",
      "inputs": {
        "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources",
        "method": "POST",
        "headers": {
          "Content-Type": "application/json"
        },
        "queries": {
          "api-version": "2021-03-01"
        },
        "body": {
          "query": "Resources | where type =~ 'microsoft.compute/virtualmachines' | where isnotempty(tags['AutoStart']) or isnotempty(tags['AutoStop']) | project name, resourceGroup, subscriptionId, tags",
          "options": {
            "resultFormat": "objectArray"
          }
        },
        "authentication": {
          "type": "ManagedServiceIdentity"
        }
      }
    },
    "For Tagged VMs": {
      "foreach": "@body('Azure Resource Graph Query')?['data']",
      "actions": {
        "Compose Time": {
          "type": "Compose",
          "inputs": "@formatDateTime(convertTimeZone(utcNow(),'UTC','GMT Standard Time'),'HH:mm')"
        },
        "Compose Weekday": {
          "runAfter": {
            "Compose Time": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@dayOfWeek(convertTimeZone(utcNow(),'UTC','GMT Standard Time'))"
        },
        "Start VM": {
          "actions": {
            "Start_virtual_machine": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurevm']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/subscriptions/@{encodeURIComponent(items('For Tagged VMs')?['subscriptionId'])}/resourcegroups/@{encodeURIComponent(items('For Tagged VMs')?['resourceGroup'])}/providers/Microsoft.Compute/virtualMachines/@{encodeURIComponent(items('For Tagged VMs')?['name'])}/start",
                "queries": {
                  "api-version": "2019-12-01"
                }
              }
            }
          },
          "runAfter": {
            "Compose Time": [
              "Succeeded"
            ],
            "Compose Weekday": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Compose Time')",
                  "@items('For Tagged VMs')?['tags']?['AutoStart']"
                ]
              },
              {
                "greaterOrEquals": [
                  "@outputs('Compose Weekday')",
                  1
                ]
              },
              {
                "lessOrEquals": [
                  "@outputs('Compose Weekday')",
                  5
                ]
              }
            ]
          },
          "type": "If"
        },
        "Stop VM": {
          "actions": {
            "Deallocate_virtual_machine": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurevm']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/subscriptions/@{encodeURIComponent(items('For Tagged VMs')?['subscriptionId'])}/resourcegroups/@{encodeURIComponent(items('For Tagged VMs')?['resourceGroup'])}/providers/Microsoft.Compute/virtualMachines/@{encodeURIComponent(items('For Tagged VMs')?['name'])}/deallocate",
                "queries": {
                  "api-version": "2019-12-01"
                }
              }
            }
          },
          "runAfter": {
            "Compose Time": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Compose Time')",
                  "@items('For Tagged VMs')?['tags']?['AutoStop']"
                ]
              }
            ]
          },
          "type": "If"
        }
      },
      "runAfter": {
        "Azure Resource Graph Query": [
          "Succeeded"
        ]
      },
      "type": "Foreach"
    }
  },
  "outputs": {},
  "parameters": {
    "$connections": {
      "type": "Object",
      "defaultValue": {}
    }
  }
}